---
{{.name}}.router:
  advertise_uri: localhost:3301
  http_port: 8081

{{.name}}.s1-master:
  advertise_uri: localhost:3302
  http_port: 8082

{{.name}}.s1-replica:
  advertise_uri: localhost:3303
  http_port: 8083

{{.name}}.s2-master:
  advertise_uri: localhost:3304
  http_port: 8084

{{.name}}.s2-replica:
  advertise_uri: localhost:3305
  http_port: 8085

{{.name}}-stateboard:
  listen: localhost:4401
  password: passwd
