pytest==8.2.2
tarantool==0.7.1
requests==2.32.2
flake8==6.1.0
flake8-unused-arguments==0.0.6
flake8-isort==6.1.0
psutil==5.7.0
pyyaml==6.0.1
codespell==2.4.1
netifaces==0.11.0
etcd3==0.12.0
protobuf==3.20.3
importlib-metadata<4.3
pytest-timeout==2.2.0
retry==0.9.2
# HOTFIX: Workaround to avoid cmake warning that appears after upgrading cmake on CI runners.
# The warning occurs during CI tests in 'checks' repo and finally leads to CI failure.
# REMOVE IT as soon as proper fixes are applied to 'checks' and all dependent repos.
cmake==3.15.3
