CMakeFiles/
CMakeCache.txt
Makefile
cmake_*.cmake
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*~
.gdb_history
Testing
CTestTestfile.cmake
*.snap
*.xlog
.rocks
.cache
.vagrant
__pycache__
/tmp/*
!/tmp/.keep
.DS_Store
./packpack
./build
/build.luarocks
/venv
/cartridge
dist
completion/
*_gen.go
doc/locale/en/
doc/output/
